<nav class="nav navbar-inverse" role="navigation"
     style="padding-left: 5%;padding-right: 5%;">
    <div class="row">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= manage_main_page_path%>">啪啪打卡</a>
      </div>
      <ul class="nav navbar-nav pull-right">
          <li class="user_msg"><a id="user_name" href="<%=edit_user_registration_path%>"><%= current_user.name %></a></li>
          <li class="user_msg"><a href="/manage/Message">消息<span>(<%=@message_number%>)</span></a></li>
          <li class="user_msg">
            <%= link_to "Sign out",destroy_user_session_path , method: :delete %>
          </li>
      </ul> 
    </div>
</nav>
