<head>
	<link href="/common.css" rel=stylesheet type="text/css">
	<style type="text/css">
		.content
		{
			width:100%;
			height:400px;
		}
		.texts
		{
			font-size:30px;
			height:50px;
			text-align:left;
		}
		.chart
		{
			height:295px;
			float:left;
		}
		#chart1
		{
			width:300px;
		}
		#chart2
		{
			width:600px;
		}
		#title
		{
			font-size:60px;
		}
		.comment
		{
			font-size:20px;
			margin-top:30px;
			margin-left:10px;
			text-align:left;
		}
		.author
		{
			font-size:12px;
			margin-top:2px;
			margin-left:15px;
			text-align:left;
		}
		#comment
		{
			font-size:30px;
		}
	</style>
</head>
<body>
	<script type="text/javascript" src="/chart.js"></script>
	<div id="content">
		<div id="title">
		</div>
		<div id="content1" class="content">
			<div id="text1" class="texts">
			</div>
			<canvas id="chart1" class="chart"></canvas>
		</div>
		<div id="content2" class="content">
			<div id="text2" class="texts">
			</div>
			<canvas id="chart2" class="chart"></canvas>
		</div>
		<div id="text3" class="texts">
		</div>
		<div id="comment">
		</div>
		<div id="content-button">
		</div>
	</div>
	<script>
		var courseId,classId;
		
		function getId()    //获取当前查看的课程和实验id
		{
			var p=window.location.href.split("/");
			p=p[p.length-1];
			courseId=p.split("&")[0];
			classId=p.split("&")[1];
		}
		
		var n,classInfo,comments=new Array(),people=new Object(),score=new Array(11);
		
		$("#chart1")[0].height=$("#chart1")[0].width;
		$("#chart2")[0].height=$("#chart2")[0].width;
		var totalPages,nowPage,numberPerPage=10;
		
		function loadInfo()    //加载实验信息
		{
			getId();
			for (i=0;i<11;++i) score[i]=0;
			var i;
			n=0;
			nowPage=1;
			var p1=false,p2=false,p3=false,p4=false;
			function deal()
			{
				people.absense=people.tot-people.attend;
				totalPages=Math.floor((n-1)/numberPerPage+1);
				showInfo();
			}
			$.get("/lessons/"+classId+".json",{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("获取实验信息失败");
				}
				if (data.status=="successful")
				{
					classInfo=data.lesson.name;
					p1=true;
					if (p1&&p2&&p3&&p4) deal();
				}
			});
			$.get("/courses/"+courseId+"/students.json",{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("获取课程人数失败");
				}
				if (data.status=="successful")
				{
					people.tot=data.students.length;
					p2=true;
					if (p1&&p2&&p3&&p4) deal();
				}
			});
			$.get("/lessons/"+classId+"/comments.json",{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("获取评论失败");
				}
				if (data.status=="successful")
				{
					var i;
					data=data.lesson_comments;
					for (i=0;i<data.length;++i)
					{
						if (data[i].content) comments[n++]=data[i];
						score[parseInt(data[i].score)]++;
					}
					p3=true;
					if (p1&&p2&&p3&&p4) deal();
				}
			});
			$.get("/lessons/"+classId+"/attendance.json",{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("获取到课信息失败");
				}
				if (data.status=="successful")
				{
					data=data.students;
					people.attend=data.length;
					p4=true;
					if (p1&&p2&&p3&&p4) deal();
				}
			});
		}
		
		function changePage(x)
		{
			nowPage+=x;
			if (nowPage<1) nowPage=1;
			if (nowPage>totalPages) nowPage=totalPages;
			showComments();
		}
		
		function showComments()    //显示评论
		{
			var text="",t1,t2;
			if (totalPages<=0)
			{
				text='<div class="comment">无评论</div>';
				$("#comment")[0].innerHTML=text;
			}else
			{
				t1=(nowPage-1)*numberPerPage;
				t2=nowPage*numberPerPage;
				if (t2>n) t2=n;
				for (i=t1;i<t2;++i)
				{
					text+='<div class="comment">'+comments[i].content+'</div>';
					text+='<div class="author">'+comments[i].creator_name+'</div>';
				}
				$("#comment")[0].innerHTML=text;
				text='<button class="btn btn-default" onclick="changePage(-1)">上一页</button>';
				text+='第'+nowPage+'页 共'+totalPages+'页<button class="btn btn-default" onclick="changePage(1)">下一页</button>';
				$("#content-button")[0].innerHTML=text;
			}
		}
		
		function showInfo()    //显示信息
		{
			var data,data2,text="",i;
			$("#title")[0].innerHTML=classInfo;
			data={labels:["上课人数","缺勤人数"],datasets:[{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					data : [people.attend,people.absense]}]};
			data2={labels:["0分","1分","2分","3分","4分","5分","6分","7分","8分","9分","10分"],datasets:[{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					data : score}]};
			var mychart,ctx = $("#chart1")[0].getContext("2d");
			mychart=new Chart(ctx).Bar(data);
			ctx = $("#chart2")[0].getContext("2d");
			mychart=new Chart(ctx).Bar(data2);
			showComments();
			$("#text1")[0].innerHTML="到课情况";
			$("#text2")[0].innerHTML="学生评分";
			$("#text3")[0].innerHTML="课程评价";
		}
		
		loadInfo();
	</script>
</body>
