<script src="/csv.js"></script>
<script src="/jquery.form.js" type="text/javascript" charset="utf-8"></script>
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3>添加学生</h3>
      </div>
      <div class="modal-body">
        <h4>请选择csv文件</h4>
        <label><input id="csvfile" type="file"></label>
        <h4>输入样例</h4>
        <p>2014011001,张三,计算机系,计46,zhangsan@mails.tsinghua.edu.cn,17888888888</p>
        <p>2014011002,李四,计算机系,计46,lisi@mails.tsinghua.edu.cn,17888888889</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="parse_csv()" data-dismiss="modal">提交</button>
        <button class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div> 
  </div>
</div>

<div class="modal fade" id="modal-add-one" tabindex="-1" role="dialog" aria-hidden="true">
  <form id="addOneForm" action="/courses/<%=@course_id%>/students.json" method="post" onsubmit="return addOne()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3>添加学生</h3>
      </div>
      <div class="modal-body">
        <label>学号<input name="json[student_number]" type="text"></label>
        <label>姓名<input name="json[name]" type="text"></label>
        <label>系别<input name="json[department]" type="text"></label>
        <label>班级<input name="json[class_name]" type="text"></label>
        <label>邮箱<input name="json[email]" type="text"></label>
        <label>电话<input name="json[phone]" type="text"></label>
        <h4>输入样例</h4>
        <p>2014011001,张三,计算机系,计46,zhangsan@mails.tsinghua.edu.cn,17888888888</p>
        <p>2014011002,李四,计算机系,计46,lisi@mails.tsinghua.edu.cn,17888888889</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">提交</button>
        <button class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
  </form>
</div>

<div class="modal fade" id="modal-add-one-ass" tabindex="-1" role="dialog" aria-hidden="true">
  <form id="addAssForm" action="/courses/<%=@course_id%>/assistants.json" method="post" onsubmit="return addAss()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
          <h3>添加助教</h3>
        </div>
        <div class="modal-body">
          <label>姓名<input name="json[name]" type="text"></label>
          <label>邮箱<input name="json[email]" type="text"></label>
          <label>电话<input name="json[phone]" type="text"></label>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">提交</button>
          <button class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </form>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-6">
        <h1><%=@course_name%></h1>
      </div>
      <div class="col-md-6">
        <p></p>
        <p>目前已经有<span id="student-number">0</span>人在学这门课!</p>
        <p>本课程目前一共有<span id="assistant-number">0</span>名助教!</p>
        <button class="btn btn-sm" id="readButton">批量添加学生</button>
        <button class="btn btn-sm" id="addOneButton">添加单个学生</button>
        <button class="btn btn-sm" id="addAssButton">添加助教</button>
      </div>
      <h4>学生名单</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>系别</th>
            <th>班级</th>
            <th>邮箱</th>
            <th>电话</th>
        </tr>
        </thead>
        <tbody id = "student-list">
        </tbody>
      </table>
      <h4>助教名单</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>姓名</th>
          <th>邮箱</th>
          <th>电话</th>
        </tr>
        </thead>
        <tbody id = "assistant-list">
        </tbody>
      </table>

    </div>
    <div class="col-md-2" style="text-align: left"><button onclick='deleteStudent()'
                                  class='btn btn-danger btn-operator' style="display: none">删除学生</button>
    </div>
  </div>
</div>

<script>
    var activeSid = -1;
    function deleteStudent(){
        console.log(activeSid);
        if(activeSid == -1) return ;
        $.ajax({
            type:"DELETE",
            url:"/courses/<%=@course_id%>/students/"+activeSid+".json",
            data:{},
            success:function(d){
             alert("删除成功!");
             location.reload(true);
            }
        })
    }
    (function(){
        $("#readButton").click(function(){$("#modal-add").modal('show');});
        $("#addOneButton").click(function(){$("#modal-add-one").modal('show');});
        $("#addAssButton").click(function(){$("#modal-add-one-ass").modal('show');});

        $.get("/courses/<%=@course_id%>/students.json",{},function(data){
            //console.log(data);
            str = "";
            for(var i in data.students)
            {
                str += "<tr class='detect-tr' sid="+data.students[i].id+">" +"<td>"+ data.students[i].student_number.toString()+"</td>"
                        +"<td>"+ data.students[i].name.toString()+"</td>"
                        +"<td>"+ data.students[i].department.toString()+"</td>"
                        +"<td>"+ data.students[i].class_name.toString()+"</td>"
                        +"<td>"+ data.students[i].email.toString()+"</td>"
                        +"<td>"+ data.students[i].phone.toString()+"</td></tr>";
            }
            $("#student-list").html(str);
            $("#student-number").html(data.students.length);
            $(".detect-tr").hover(function(){
                activeSid = $(this).attr("sid");
                var h=$(this).position().top;
                $(".btn-operator").css({position:"absolute",top:h}).show();
            },function(){});
        });

        //----------------------------
        $.get("/courses/<%=@course_id%>/assistants.json",{},function(data){
            console.log(data);
            str = "";
            for(var i in data.assistants)
            {
                str += "<tr class='' sid="+data.assistants[i].id+">"
                        +"<td>"+ data.assistants[i].name.toString()+"</td>"
                        +"<td>"+ data.assistants[i].email.toString()+"</td>"
                        +"<td>"+ data.assistants[i].phone.toString()+"</td></tr>";
            }
            $("#assistant-list").html(str);
            $("#assistant-number").html(data.assistants.length);
        });
    })();
        function parse_csv(){
            var r = new FileReader();
            r.onload = function(){
                var students_info = CSV.parse(r.result);
                var students = [];
                for(var i in students_info)
                {
                    var student = {
                        "student_number":students_info[i][0],
                        "name":students_info[i][1],
                        "department":students_info[i][2],
                        "class_name":students_info[i][3],
                        "email":students_info[i][4],
                        "phone":students_info[i][5]
                    };
                    students.push(student);
                }
                console.log(JSON.stringify({"json":students}));
                $.ajax({
                    url:"/courses/<%=@course_id%>/students.json",
                    method:"POST",
                    data:"json="+JSON.stringify(students),
                    dataType: "json",
                    success:function(d){
                        if(d.invalid_fields.length){
                            alert("添加失败,请仔细检查格式");
                        }
                        else { alert("添加成功!");location.reload(true);}
                }});
            };
            r.readAsText($("#csvfile")[0].files[0]);
        }
    function addOne()
    {
        $("#addOneForm").ajaxSubmit(function(d){
            if(d.invalid_fields.length){
                alert("添加失败,请仔细检查格式");
            }
            else { alert("添加成功!");location.reload(true);}
        });
        return false;
    }
    function addAss()
    {
        $("#addAssForm").ajaxSubmit(function(d){
            console.log(d);
            if(d.invalid_fields.length){
                alert("添加失败,请仔细检查格式");
            }
            else { alert("添加成功!");location.reload(true);}
        });
        return false;
    }
</script>
