<head>
	<link href="/common.css" rel=stylesheet type="text/css">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
  	<meta name="author" content="oscar999">
	<style type="text/css">
		.keep-line
		{
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
		}
	</style>
	<script>
		var KEYCODE_ENTER=13,KEYCODE_ESC=27;
	</script>
</head>
<body>
	<div id="content">
	</div>
	<script>
		var courseId,classId=new Array();
		
		function getId()    //获取当前课程id
		{
			var p=window.location.href.split("/");
			p=p[p.length-1];
			courseId=p;
		}
		
		var n,m,tot,info,items,courseInfo,lastChoose=-1,p=0,focusi=-1,focusj=-1;
		
		function loadInfo()   //获取当前课程学生各个实验的成绩
		{
			getId();
			var i,j,k;
			info=new Array();
			n1=4;n2=0;m=0;
			items=new Object();
			items.peopleInfo=new Array();
			items.classNames=new Array();
			items.peopleInfo[0]="学号";items.peopleInfo[1]="姓名";
			items.peopleInfo[2]="系";items.peopleInfo[3]="班级";

			$.get("/courses/"+courseId+"/lessons.json",{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("获取实验信息失败");
				}
				if (data.status=="successful")
				{
					data=data.lessons;
					var i;n2=data.length;
					for (i=0;i<n2;++i)
					{
						classId[i]=data[i].id;
						items.classNames[i]=data[i].name;
					}
					$.get('/courses/'+courseId+'.json?full=true',{},
					function(data)
					{
						if (data.status=="failed")
						{
							alert("加载成绩失败");
						}
						if (data.status=="successful")
						{
							data=data.course;
							courseInfo=data.name;
							data=data.students;
							m=data.length;
							for (i=0;i<m;++i)
							{
								info[i]=new Object();
								info[i].classScore=new Array();
								info[i].people=data[i].student_info;
								for (j=0;j<n2;++j)
								{
									info[i].classScore[j]="未登记";
								}
								for (j=0;j<data[i].lessons.length;++j)
								{
									info[i].classScore[j]=data[i].lessons[j].score;
								}
							}
							showInfo();
						}
					});
				}
			});
		}
		
		function compare(x,y,o,p)
		{
			switch (o)
			{
				case 0:
					x=parseInt(x.people.student_number);
					y=parseInt(y.people.student_number);
					break;
				case 1:
					x=x.people.name;
					y=y.people.name;
					break;
				case 2:
					x=x.people.department;
					y=y.people.department;
					break;
				case 3:
					x=x.people.class_name;
					y=y.people.class_name;
					break;
				default:
					x=x.classScore[o-4];
					y=y.classScore[o-4];
					if (x=="未登记")
					{
						x=0;
					}else
					{
						x=parseInt(x);
					}
					if (y=="未登记")
					{
						y=0;
					}else
					{
						y=parseInt(y);
					}
			}
			if (p==0&&x<y||p==1&&x>y) return true;
			else return false;
		}
		
		function qsort(l,r,x,p)
		{
			var i=l,j=r,m=info[Math.floor((i+j)/2)],t;
			while (i<=j)
			{
				while (i<=j&&compare(info[i],m,x,p)) ++i;
				while (i<=j&&compare(m,info[j],x,p)) --j;
				if (i<=j)
				{
					t=info[i];info[i]=info[j];info[j]=t;
					++i;--j;
				}
			}
			if (i<r) qsort(i,r,x,p);
			if (l<j) qsort(l,j,x,p);
		}
		
		function option(x)
		{
			if (focusi!=-1&&focusj!=-1) return;
			if (x!=lastChoose) lastChoose=x,p=0;
			else p=1-p;
			qsort(0,m-1,x,p);
			showInfo();
		}
		
/*		function enterPress(evt,i,j)
		{
			evt=evt?evt:(window.event?window.event:null);
			if (evt.keyCode==KEYCODE_ENTER)
			{
				var p=$("#table1")[0].rows[i].cells[j],text=$("input")[0].value;
				if (!isNaN(text))
				{
					p.innerHTML=text;
					focusi=focusj=-1;
				}
			}
		}
		
		function escPress(event)
		{
			var evt=event?event:(window.event?window.event:null);
			if (evt.keyCode==KEYCODE_ESC)
			{
				if (focusi!=-1&&focusj!=-1)
				{
					p=$("#table1")[0].rows[focusi].cells[focusj],text=$("input")[0].placeholder;
					p.innerHTML=text;
					focusi=focusj=-1;
				}
			}
		}
		window.document.onkeydown=escPress;*/
		
		function clickDownload(aLink)    //导出csv
		{
			if (focusi!=-1&&focusj!=-1) return; 
			var p=$("#table1")[0],i,j,n=p.rows.length,m=p.rows[2].cells.length,data="",text="";
			data="学号,姓名,系,班级";
			for (i=0;i<n2;++i) data+=','+items.classNames[i];
			data+='\n';
			for (i=3;i<n;++i)
			{
				text=p.rows[i].cells[0].textContent;
				if (!text) text=p.rows[i].cells[0].innerText;
				data+=text;
				for (j=1;j<m;++j)
				{
					text=p.rows[i].cells[j].textContent;
					if (!text) text=p.rows[i].cells[j].innerText;
					data+=','+text;
				}
				data+='\n';
			}
       //  	data =  encodeURIComponent(data);
       		data = "\ufeff"+data;
			var blob = new Blob([data], { type: 'text/csv,charset=UTF-8'});
    		var csvUrl = URL.createObjectURL(blob);  
    		$("#export")[0].href = csvUrl;
		}
		
/*		function change(i,j)
		{
			var p,text;
			if (focusi==i&&focusj==j) return;
			if (focusi!=-1&&focusj!=-1)
			{
				p=$("#table1")[0].rows[focusi].cells[focusj],text=$("input")[0].placeholder;
				p.innerHTML=text;
			}
			focusi=i;focusj=j;
			p=$("#table1")[0].rows[i].cells[j];text=p.innerHTML;
			text='<input type="text" class="form-control custominput" onkeydown="enterPress(event,'+i+','+j+')" placeholder="'+text+'">';
			p.innerHTML=text;
		}*/
		
		function showInfo()    //显示学生成绩
		{
			var i,j,text="",text2,len=parseInt(screen.width*0.8/(n1+n2));
			if (m==0)
			{
				text='<h4 style="text-align:center">本课程暂无学生</h4>';
				$("#content")[0].innerHTML=text;
				return;
			}
			text+='<h3>课程成绩</h3>';
			text+='<table id="table1" class="table table-bordered table-striped table-hover">';
			text+='<thread><tr><th colspan="'+(n1+n2-1)+'">'+courseInfo+'</th>';
			text+='<th><a id="export" onclick="clickDownload(this)" download="'+courseInfo+'.csv" href="#">导出</a>'+'</th></tr>';
			text+='<tr><th colspan="'+n1+'">学生信息</th><th colspan="'+n2+'">成绩</th></tr>';
			text+='<tr>';
			for (i=0;i<n1;++i)
			{
				text2=items.peopleInfo[i];
				if (lastChoose==i)
				{
					if (p==0)
					{
						text2+='▼';
					}
					else
					{
						text2+='▲';
					}
				}else
				{
					text2+='&#12288;';
				}
				text+='<th class="keep-line" style="max-width:'+len+'px;" onclick="option('+i+')">'+text2+'</th>';
			}
			for (i=0;i<n2;++i)
			{
				text2=items.classNames[i];
				if (lastChoose==n1+i)
				{
					if (p==0)
					{
						text2+='▼';
					}
					else
					{
						text2+='▲';
					}
				}else
				{
					text2+='&#12288;';
				}
				text+='<th class="keep-line" style="max-width:'+len+'px;" onclick="option('+(n1+i)+')">'+text2+'</th>';
			}
			text+='</thread><tbody>';
			for (i=0;i<m;++i)
			{
				text+='<tr>';
				text+='<td class="keep-line" style="max-width:'+len+'px;">'+info[i].people.student_number+'</td>';
				text+='<td class="keep-line" style="max-width:'+len+'px;">'+info[i].people.name+'</td>';
				text+='<td class="keep-line" style="max-width:'+len+'px;">'+info[i].people.department+'</td>';
				text+='<td class="keep-line" style="max-width:'+len+'px;">'+info[i].people.class_name+'</td>';
				for (j=0;j<n2;++j)
				{
					text+='<td class="keep-line" style="max-width:'+len+'px;">';
					text+='<a href="/manage/student/'+info[i].people.id+'/lesson/'+classId[j]+'" target="_blank">'+info[i].classScore[j]+'</a></td>';
				}
				text+='</tr>';
			}
			text+='</tbody></table>';
			$("#content")[0].innerHTML=text;
		}
		
		loadInfo();
	</script>
</body>
