<head>
	<link href="/common.css" rel=stylesheet type="text/css"/>
	<style type="text/css">
		.message-content
		{
			width:100%;
			height:50px;
			margin-top:8px;
		}
		
		h4
		{
			text-align:left;
		}
		
		.comment
		{
			font-size:20px;
			margin-top:30px;
			margin-left:10px;
			text-align:left;
		}
		
		.titles1
		{
			float:left;
			font-size:20px;
			color:#BBBBBB;
		}
		
		.titles2
		{
			float:left;
			font-size:20px;
			font-weight:bold;
		}
		
		#title
		{
			font-size:40px;
		}
		
		.message
		{
			font-size:20px;
			margin-top:10px;
			margin-left:10px;
		}
		
		.custom-button
		{
			float:right;
			margin-left:3px;
			margin-right:3px;
			display:none;
		}
	</style>
</head>
<body>
	<div id="content">
		<div id="title">
		消息列表
		</div>
		<div id="messages">
		</div>
	</div>
	
	<div class="modal fade" id="modal-show-message" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>查看消息</h3>
				</div>
				<div class="modal-body">
					<h4>标题</h4>
					<input id="input-show-message-1" type="text" class="form-control"></input>
					<h4>内容</h4>
					<textarea id="input-show-message-2" type="text" class="form-control"></textarea>
					<h4>作者</h4>
					<input id="input-show-message-3" type="text" class="form-control"></input>
					<h4>发送时间</h4>
					<input id="input-show-message-4" type="text" class="form-control"></input>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-send-message" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>回复消息</h3>
				</div>
				<div class="modal-body">
					<h4>标题</h4>
					<input id="input-send-message-1" type="text" class="form-control"></input>
					<h4>内容</h4>
					<textarea id="input-send-message-2" type="text" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="confirmMessage()" data-dismiss="modal">发送</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>确认删除？</h3>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="deleteItem()" data-dismiss="modal">确认</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var n,info,choosei;
		
		function loadInfo()    //获取所有消息内容
		{
			var i;
			n=0;
			$.get("/messages.json",{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("消息加载失败");
				}
				if (data.status=="successful")
				{
					console.log(data);
					data=data.user_messages;
					n=data.length;
					info=data;
					showInfo();
				}
			});
		}
		
		function modifyDateTime(text)    //修改后台获取的时间的格式
		{
			var i;
			text=text.replace("T"," ");
			for (i=0;i<text.length;++i)
			{
				if (text[i]=='.') return text.substring(0,i);
			}
			return "";
		}
		
		function showMessage(i)    //显示消息信息
		{
			$("#input-show-message-1")[0].value=info[i].title;
			$("#input-show-message-2")[0].value=info[i].content;
			$("#input-show-message-3")[0].value=info[i].creator_name;
			$("#input-show-message-4")[0].value=modifyDateTime(info[i].created_at);
			if (info[i].status!="read")
			{
				$.post('/messages/'+info[i].id+'/read.json',{},
				function(data)
				{
					if (data.status=="failed")
					{
					}
					if (data.status=="successful")
					{
						info[i].status="read";
						showInfo();
					}
				});
			}
			$('#modal-show-message').modal('show');
		}
		
		function deleteItem()    //删除消息
		{
			$.ajax({url:'/messages/'+info[choosei].id+'.json',data:{},async:false,type:"DELETE",success:function(data)
			{
				if (data.status=="failed")
				{
					alert("删除消息失败");
				}
				if (data.status=="successful")
				{
					for (i=choosei;i<n-1;++i) info[i]=info[i+1];--n;
					showInfo();
				}
			}});
		}
		
		function deleteMessage(event,i)    //删除第i条消息
		{
			choosei=i;
			$('#modal-delete').modal('show');
			event.stopPropagation();
		}
		
		function confirmMessage()     //回复消息
		{
			var text1,text2;
			text1=$("#input-send-message-1")[0].value;
			text2=$("#input-send-message-2")[0].value;
			var p=new Object();
			p.title=text1;
			p.content=text2;
			$.post('/users/'+info[choosei].sender_id+'/messages.json',p,
			function(data)
			{
				if (data.status=="failed")
				{
					alert("发送失败");
					return;
				}
				if (data.status=="successful")
				{
				}
			});
		}
		
		function replyMessage(event,i)    //回复第i条消息
		{
			$("#input-send-message-1")[0].value="Re: "+info[i].title;
			$("#input-send-message-2")[0].value="";
			choosei=i;
			$('#modal-send-message').modal('show');
			event.stopPropagation();
		}
		
		function showInfo()    //显示当前用户的所有消息
		{
			var text="",text2="";
			if (n==0)
			{
				text='<div class="message">无消息</div>';
			}else
			{
				for (i=0;i<n;++i)
				{
					text2="message-"+i;
					text+='<div id="'+text2+'" class="message-content btn btn-default" onclick="showMessage('+i+')">';
					if (info[i].status=="read")
					{
						text+='<div class="titles1">'+info[i].title+'</div>';
					}else
					{
						text+='<div class="titles2">'+info[i].title+'</div>';
					}
					text+='<div class="btn btn-info custom-button '+text2+'" onclick="deleteMessage(event,'+i+')">删除</div>';
					text+='<div class="btn btn-info custom-button '+text2+'" onclick="replyMessage(event,'+i+')">回复</div>';
					text+='</div>';
				}
			}
			$("#messages")[0].innerHTML=text;
			function deal(text)
			{
				$("#"+text).hover(
				function()
				{
					var p=$("."+text),i;
					for (i=0;i<p.length;++i)
					{
						p[i].style.display="block";
					}
				},function()
				{
					var p=$("."+text),i;
					for (i=0;i<p.length;++i)
					{
						p[i].style.display="none";
					}
				});
			}
			for (i=0;i<n;++i)
			{
				deal('message-'+i);
			}
		}
		
		loadInfo();
	</script>
</body>
