 <script src="/video/video.js" type="text/javascript" charset="utf-8"></script>
  <script src="/jquery.form.js" type="text/javascript" charset="utf-8"></script>
  <!--link rel="stylesheet" href="/video/video-js.css" type="text/css" media="screen" title="Video JS"-->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div style="margin: 20px">
        <h2><%= @student.name%></h2>
          <hr>
          <img src="<%= @avator.path%>" width="80%">
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default" style="margin-top: 20px;">
          <div class="panel-heading"><%= @lesson.name%></div>
          <div class="panel-body" style="text-align: left">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">实验得分</span>
                    <input type="text" class="form-control" value="" readonly="true" id="lesson-score">
                </div>
                <br>
                <div class="panel panel-success">
                  <div class="panel-heading"><span style="color: white">学生评论:</span></div>
                  <div class="panel-body">
                    <p id="lesson-comment"></p>
                  </div>
                </div>
            </div>
            <form method="post" name="student_comment" target="" id="teacher-form"
                  action="/lessons/<%=@lesson.id %>/students/<%=@student.id %>/comments.json"
                  onsubmit="return submit_form()">
              <!--input name="_method" type="hidden" value="put" /-->
              <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon">学生得分</span>
                    <input type="text" class="form-control"
                           name="student_comment[score]" id="teacher-score">
                  </div>
                  <br>
                  <div class="panel panel-success">
                    <div class="panel-heading"><span style="color: white">教师评论:</span></div>
                    <div class="panel-body">
                      <textarea id="teacher-comment" name="student_comment[content]" style="width: 100%"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">更改</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
    <div class="col-md-8">
            <!-- Begin VideoJS -->
            <!--div class="video-js-box " style="margin: 20px;border-right: groove 1px #000000">
              <video id="video-screen" class="video-js vjs-big-play-centered"
                     style="margin: auto; width: 70%" controls="controls"
                     preload="auto" data-setup="{}">
              </video>
              </div-->
      <div class="" style="margin: 20px;border-right: groove 1px #000000">
        <video id="video-screen" controls="controls" style="margin: auto" width="70%" preload="auto">
        </video>
        </div>
    </div>
      <div class="col-md-4 label-list" id="video-list" 
           style="padding: 20px;text-align: left;"></div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div style="margin: 20px;border-right: groove 1px #000000">
        <img id="img-screen" src="/photos/1.jpg" width="70%"/>
        </div>
      </div>
      <div class="col-md-4 label-list" id="picture-list"
           style="padding: 20px;text-align: left;"></div>
    </div>
  </div>
<!-- End VideoJS -->
  <script>

      $.get("/lessons/<%=@lesson.id %>/students/<%=@student.id %>/comment.json",{},function(data)
      {
          $("#teacher-score").val(data.student_comment.score);
          $("#teacher-comment").val(data.student_comment.content);
      });
      $.get("/students/<%=@student.id %>/lessons/<%=@lesson.id %>/comment.json",{},function(data)
      {
          $("#lesson-score").val(data.lesson_comment.score);
          $("#lesson-comment").html(data.lesson_comment.content);
      });
      // test case
      data=[];
      $.get("/students/<%=@student.id %>/lessons/<%=@lesson.id %>/files.json",{},
      function(d){
          data=[];
          for(var i in d.files)
              $.ajax({
                  url:"/files/"+ d.files[i].id.toString()+".json",
                  async: false,
                  type: 'GET',
                  success :function(ret){ console.log(ret);data[i]= ret.file; }
              });
          str="";
          for(var i in data)
          if(data[i].type == "video")
          {
              str+="<span class='label label-default' style='margin-right: 10px;font-size: 16px'>"+data[i].name+"</span>";
              str+="<button class='btn btn-sm btn-primary' onclick=changeVideo("+i.toString()+
              ")><span class='glyphicon glyphicon-play'></span>Play</button><hr>";
          }
          $("#video-list").html(str);
          str= "";
          for(var i in data)
          if(data[i].type == "image")
          {
              str+="<span class='label label-default' style='margin-right: 10px;font-size: 16px'>"+data[i].name+"</span>";
              str+="<button class='btn btn-sm btn-primary' onclick=changePicture("+i.toString()+
                      ")><span class='glyphicon glyphicon-view'></span>View</button><hr>";
          }
          $("#picture-list").html(str);
          //console.log(str);
      });
      function changePicture(x)
      {
          $("#img-screen").attr("src",data[x].path);
      }
      function changeVideo(x)
      {
          $("video").attr("src",data[x].path);
          $("video")[0].load();
      }
      function submit_form()
      {
          $("#teacher-form").ajaxSubmit(function(d){
              alert("修改成功!");
              location.reload(true);
          });
          return false;
      }
  </script>
