<h2>Log in</h2>

<p class="notice" style="color: black;"><%= flash[:notice] %></p>
<p class="alert" style="color: red;"><%= flash[:alert] %></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { onsubmit: 'return checkFields()' }) do |f| %>
  <div class="field">
    <%= f.label :email_or_phone %><br />
    <%= f.text_field :login, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
